<!DOCTYPE html>
<html lang='ja'>
<head>

<meta charset='utf-8'>
<meta name='viewport' content='width=device-width'>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.0/css/bootstrap.min.css"></link>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular.min.js"></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css">


<!-- 基本リンク -->
<link rel="stylesheet" href="/assets/top.scss" type="text/css">
<script src="/javascripts/application.js" type="text/javascript"></script>
<script src="jquery.min.js" type="text/javascript"></script>
<!-- ここまで -->

<title>alert</title>
</head>


<body>

<h1>これはアラートです</h1>

<!-- タイトル -->
<div class="top01">
  <h1>社会情報学科</h1>
</div>
<br>
<!-- お知らせ -->
<div class="top02">
  <h3>CONCEPT<br><small>コンセプト</small></h3>
  <hr>
  <p>今年度から新しいやり方でゼミの選び方が始まります。この学科サイトも1、2年生がゼミ選びなどしやすいように大幅にコンセプトなどの変更をしております。</p>
</div>
<br>
<!-- ブランドイメージ -->
<div class="container">
   <div class="row">
      <div class="col-md-3 col-xs-6"><a href="#"><img src="/assets/001.jpeg" class="img-responsive"></a></div>
      <div class="col-md-3 col-xs-6"><a href="#"><img src="/assets/002.jpeg" class="img-responsive"></a></div>
      <div class="col-md-3 col-xs-6"><a href="#"><img src="/assets/005.jpeg" class="img-responsive"></a></div>
      <div class="col-md-3 col-xs-6"><a href="#"><img src="/assets/007.jpeg" class="img-responsive"></a></div>
   </div>
</div>
<br>
<div class="top03">
  <h3>ゼミナール紹介</h3>
  <hr>
   <div class="top04">
    <div class="container">
       <div class="row">
          <div class="col-md-3 col-xs-6"><a href="#"><img src="/assets/008.jpeg" class="img-responsive"><h4>大枝ゼミ</h4><p>非常にユニークなゼミナールで、各自に自主自律性が養われます。</p></a></div>
          <div class="col-md-3 col-xs-6"><a href="#"><img src="/assets/008.jpeg" class="img-responsive"><h4>新井ゼミ</h4><p>非常にユニークなゼミナールで、各自に自主自律性が養われます。</p></a></div>
          <div class="col-md-3 col-xs-6"><a href="#"><img src="/assets/008.jpeg" class="img-responsive"><h4>田中ゼミ</h4><p>非常にユニークなゼミナールで、各自に自主自律性が養われます。</p></a></div>
          <div class="col-md-3 col-xs-6"><a href="#"><img src="/assets/008.jpeg" class="img-responsive"><h4>長崎ゼミ</h4><p>非常にユニークなゼミナールで、各自に自主自律性が養われます。</p></a></div>
       </div>
    </div>
  </div>
  <br>
  <div class="top04">
   <div class="container">
      <div class="row">
         <div class="col-md-3 col-xs-6"><a href="#"><img src="/assets/008.jpeg" class="img-responsive"><h4>宮田ゼミ</h4><p>非常にユニークなゼミナールで、各自に自主自律性が養われます。</p></a></div>
         <div class="col-md-3 col-xs-6"><a href="#"><img src="/assets/008.jpeg" class="img-responsive"><h4>内田ゼミ</h4><p>非常にユニークなゼミナールで、各自に自主自律性が養われます。</p></a></div>
         <div class="col-md-3 col-xs-6"><a href="#"><img src="/assets/008.jpeg" class="img-responsive"><h4>広重ゼミ</h4><p>非常にユニークなゼミナールで、各自に自主自律性が養われます。</p></a></div>
         <div class="col-md-3 col-xs-6"><a href="#"><img src="/assets/008.jpeg" class="img-responsive"><h4>竹山ゼミ</h4><p>非常にユニークなゼミナールで、各自に自主自律性が養われます。</p></a></div>
      </div>
   </div>
 </div>
 <br>
 <div class="top04">
  <div class="container">
     <div class="row">
        <div class="col-md-3 col-xs-6"><a href="#"><img src="../app/img/008.jpeg" class="img-responsive"><h4>藤巻ゼミ</h4><p>非常にユニークなゼミナールで、各自に自主自律性が養われます。</p></a></div>
        <div class="col-md-3 col-xs-6"><a href="#"><img src="../app/img/008.jpeg" class="img-responsive"><h4>柳田ゼミ</h4><p>非常にユニークなゼミナールで、各自に自主自律性が養われます。</p></a></div>
     </div>
  </div>
</div>
</div>


<br><br><br>

<!-- <ul class="slider">
     <li><a href="#"><img src="../app/img/001.jpeg" class="img-responsive"></a></li>
      <li><a href="#"><img src="../app/img/002.jpeg" class="img-responsive"></a></li>
      <li><a href="#"><img src="../app/img/003.jpeg" class="img-responsive"></a></li>
      <li><a href="#"><img src="../app/img/005.jpeg" class="img-responsive"></a></li>
      <li><a href="#"><img src="../app/img/007.jpeg" class="img-responsive"></a></li>
</ul> -->

<!-- Footer  -->
<div class="footer-outer">
<div class="footer-outer-2">
<div class="footer-p">
Copyright ©️ 社会情報学科.
</div>
</div>
</div>

</body>
